<section class="menu">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="image">
                    <img src="../../assets/images/m1.png" class="img-fluid" alt="...">
                    <div class="price">8.90 €</div>
                    <div class="caption">
                        <h4>Menu Classic</h4>
                        <p>Sandwich: Burger, Salade, Tomate, Cornichon + Frites + Boisson</p>
                        <a routerLink="commande" class="btn btn-order" role="button"><span class="bi-cart-fill"></span> Commander</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="image">
                    <img src="../../assets/images/m2.png" class="img-fluid" alt="...">
                    <div class="price">9.50 €</div>
                    <div class="caption">
                        <h4>Menu Bacon</h4>
                        <p>Sandwich: Burger, Fromage, Bacon, Salade, Tomate + Frites + Boisson</p>
                        <a routerLink="commande" class="btn btn-order" role="button"><span class="bi-cart-fill"></span> Commander</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="image">
                    <img src="../../assets/images/m3.png" class="img-fluid" alt="...">
                    <div class="price">10.90 €</div>
                    <div class="caption">
                        <h4>Menu Big</h4>
                        <p>Sandwich: Double Burger, Fromage, Cornichon, Salade + Frites + Boisson</p>
                        <a routerLink="commande" class="btn btn-order" role="button"><span class="bi-cart-fill"></span> Commander</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="image">
                    <img src="../../assets/images/m4.png" class="img-fluid" alt="">
                <div class="price">9.9 €</div>
                <div class="caption">
                    <h4>Menu Chicken</h4>
                    <p>Sandwich: Poulet Frit, Tomate, Salade, Mayonnaise + Frites + Boisson</p>
                    <a routerLink="commande" class="btn btn-order" role="button"><span class="bi-cart-fill">Commander</span></a>
                </div>
            </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="image">
                    <img src="../../assets/images/m5.png" class="img-fluid" alt="">
                <div class="price">10.9 €</div>
                <div class="caption">
                    <h4>Menu Fish</h4>
                    <p>Sandwich: Poisson, Salade, Mayonnaise, Cornichon + Frites + Boisson</p>
                    <a routerLink="commande" class="btn btn-order" role="button"><span class="bi-cart-fill">Commander</span></a>
                </div>   
                </div> 
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="image">
                    <img src="../../assets/images/m6.png" class="img-fluid" alt="">
                    <div class="price">11.9 €</div>
                    <div class="caption">
                        <h4>Meu Double Steak</h4>
                        <p>Sandwich: Double Burger, Fromage, Bacon, Salade, Tomate + Frites + Boisson</p>
                        <a routerLink="commande" class="btn btn-order" role="button"><span class="bi-cart-fill">Commander</span></a>
                    </div>
                </div>
            </div>
        </div>
     </div>
     

    <div>

    </div>     
</section>
<router-outlet></router-outlet>
