<section class="burger">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="image">
                    <img src="../../assets/images/b1.png" class="img-fluid" alt="">
                    <div class="price">5.90 €</div>
                    <div class="caption">
                        <h4>Classic</h4>
                        <p>Sandwich: Burger, Salade, Tomate, Cornichon</p>
                        <a href="#" role="button" class="btn btn-order"><span class="bi-cart-fill">Commander</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="image">
                    <img src="../../assets/images/b2.png" class="img-fluid" alt="">
                    <div class="price">6.5 €</div>
                    <div class="caption">
                        <h4>Bacon</h4>
                        <p>Sandwich: Burger, Fromage, Bacon, Salade, Tomate</p>
                        <a href="#" class="btn btn-order" role="button"><span class="bi-cart-fill">Commander</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="image">
                    <img src="../../assets/images/b3.png" class="img-fluid" alt="">
                    <div class="price">6.90 €</div>
                    <div class="caption">
                        <h4>Big</h4>
                        <p>Sandwich: Double Burger, Fromage, Cornichon, Salade</p>
                        <a href="#" class="btn btn-order" role="button"><span class="bi-cart-fill">Commander</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="image">
                    <img src="../../assets/images/b4.png" class="img-fluid" alt="">
                    <div class="price">5.90 €</div>
                    <div class="caption">
                        <h4>Chicken</h4>
                        <p>Sandwich: Poulet Frit, Tomate, Salade, Mayonnaise</p>
                        <a href="#" class="btn btn-order" role="button" ><span class="bi-cart-fill">Commander</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="image">
                    <img src="../../assets/images/b5.png" class="img-fluid" alt="">
                <div class="price">6.50 €</div>
                <div class="caption">
                    <h4>Fish</h4>
                    <p>Sandwich: Poisson, Salade, Mayonnaise, Cornichon</p>
                    <a href="#" class="btn btn-order" role="button"><span class="bi-cart-fill">Commander</span></a>
                </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="image">
                    <img src="../../assets/images/b6.png" class="img-fluid" alt="">
                    <div class="price">7.50 €</div>
                    <div class="caption">
                        <h4>Double Steak</h4>
                        <p>Sandwich: Double Burger, Fromage, Bacon, Salade, Tomate</p>
                        <a href="#" class="btn btn-order" role="button"><span class="bi-cart-fill">Commander</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>