
<section class="dessert">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="image">
                    <img src="../../assets/images/d1.png" class="img-fluid" alt="">
                    <div class="price">4.90 €</div>
                    <div class="caption">
                        <h4>Fondant au Chocolat</h4>
                        <p>Au choix: Chocolat Blanc ou au lait</p>
                        <a href="#" class="btn btn-order" role="button"><span class="bi-cart-fill">Commander</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="image">
                    <img src="../../assets/images/d2.png" class="img-fluid" alt="">
                    <div class="price">2.90 €</div>
                    <div class="caption">
                        <h4>Muffin</h4>
                        <p>Au choix: Au fruits ou au chocolat</p>
                        <a href="#" class="btn btn-order" role="button"><span class="bi-cart-fill">Commander</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md- col-lg-4">
                <div class="image">
                    <img src="../../assets/images/d3.png" class="img-fluid" alt="">
                    <div class="price">2.90 €</div>
                    <div class="caption">
                        <h4>Beignet</h4>
                        <p>Au choix: Au chocolat ou à la vanille</p>
                        <a href="#" class="btn btn-order" role="button"><span class="bi-cart-fill">Commander</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md- col-lg-4">
                <div class="image">
                    <img src="../../assets/images/d4.png" class="img-fluid" alt="">
                    <div class="price">3.90 €</div>
                    <div class="caption">
                        <h4>Milkshake</h4>
                        <p>Au choix: Fraise, Vanille ou Chocolat</p>
                        <a href="#" class="btn btn-order" role="button"><span class="bi-cart-fill">Commander</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="image">
                    <img src="../../assets/images/d5.png" class="img-fluid" alt="">
                    <div class="price">4.90 €</div>
                    <div class="caption">
                        <h4>Sundae</h4>
                        <p>Au choix: Fraise, Caramel ou Chocolat</p>
                        <a href="#" class="btn btn-order" role="button"><span class="bi-cart-fill">Commander</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>