<section class="salade">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="image">
                    <img src="../../assets/images/sa1.png" class="img-fluid" alt="">
                    <div class="price">8.90 €</div>
                    <div class="caption">
                        <h4>C"sar Poulet Salade</h4>
                        <p>Poulet Pané, Salade, Tomate et la fameuse sauce César</p>
                        <a href="#" class="btn btn-order" role="button"><span class="bi-cart-fill">Commander</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="image">
                    <img src="../../assets/images/sa2.png" class="img-fluid" alt="">
                    <div class="price">8.90 €</div>
                    <div class="caption">
                        <h4>César Poulet Grillé</h4>
                        <p>Poulet Grillé, Salade, Tomate et la fameuse sauce César</p>
                        <a href="#" class="btn btn-order" role="button"><span class="bi-cart-fill">Commander</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="image">
                    <img src="../../assets/images/sa5.png" class="img-fluid" alt="">
                    <div class="price">7.90 €</div>
                    <div class="caption">
                        <h4>Pouler Grillé</h4>
                        <p>Poulet Grillé, Salade, Tomate et la sauce de votre choix</p>
                        <a href="#" class="btn btn-order" role="button"><span class="bi-cart-fill">Commander</span></a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-4">
                <div class="image">
                    <img src="../../assets/images/sa4.png" class="img-fluid" alt="">
                    <div class="price">7.90 €</div>
                    <div class="caption">
                        <h4>Pouler Pané</h4>
                        <p>Poulet Pané, Salade, Tomate et la sauce de votre choix</p>
                        <a href="#" class="btn btn-order" role="button"><span class="bi-cart-fill">Commander</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="image">
                    <img src="../../assets/images/sa3.png" class="img-fluid" alt="">
                    <div class="price">5.90 €</div>
                    <div class="caption">
                        <h4>Salade Light</h4>
                        <p>Salade, Tomate, Concombre, Maïs et Vinaigre</p>
                        <a href="#" class="btn btn-order" role="button"><span class="bi-cart-fill">Commander</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>