<section class="snack">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="image">
                    <img src="../../assets/images/s1.png" class="img-fluid" alt="">
                    <div class="price">3.90 €</div>
                    <div class="caption">
                        <h4>Frites</h4>
                        <p>Pommes de terre frites</p>
                        <a href="#" class="btn btn-order" role="button"><span class="bi-cart-fill">Commander</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="image">
                    <img src="../../assets/images/s2.png" class="img-fluid" alt="">
                    <div class="price">3.40 €</div>
                    <div class="caption">
                        <h4>Onion Rings</h4>
                        <p>Rondelles d'oignon frits</p>
                        <a href="#" class="btn btn-order" role="button" ><span class="bi-cart-fill">Commander</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="image">
                    <img src="../../assets/images/s3.png" class="img-fluid" alt="">
                    <div class="price">5.90 €</div>
                    <div class="caption">
                        <h4>Nuggests</h4>
                        <p>Nuggets de poulet frits</p>
                        <a href="#" class="btn btn-order" role="button"><span class="bi-cart-fill">Commander</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="image">
                <img src="../../assets/images/s4.png" class="img-fluid" alt="">
                <div class="price">3.50 €</div>
                <div class="caption">
                    <h4>Nuggests</h4>
                    <p>Nuggets de fromage frits</p>
                    <a href="#" class="btn btn-order" role="button"><span class="bi-cart-fill">Commander</span></a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="image">
                    <img src="../../assets/images/s5.png" class="img-fluid" alt="">
                    <div class="price">5.90 €</div>
                    <div class="caption">
                        <h4>Ailes de Pouler</h4>
                        <p>Ailes de poulet Barbecue</p>
                        <a href="#" class="btn btn-order" role="button" ><span class="bi-cart-fill">Commander</span></a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>