<section class="boissons">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="image">
                    <img src="../../assets/images/bo1.png" class="img-fluid" alt="">
                    <div class="price">1.90 €</div>
                    <div class="caption">
                        <h4>Coca-Cola</h4>
                        <p>Au choix: Petit, Moyen ou Grand</p>
                        <a href="#" class="btn btn-order" role="button"><span class="bi-cart-fill">Commander</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="image">
                    <img src="../../assets/images/bo2.png" class="img-fluid" alt="">
                    <div class="price">1.90 €</div>
                    <div class="caption">
                        <h4>Coca-Cola Light</h4>
                        <p>Au choix: Petit, Moyen ou Grand</p>
                        <a href="#" class="btn btn-order" role="button"><span class="bi-cart-fill">Commander</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="image">
                    <img src="../../assets/images/bo3.png" class="img-fluid" alt="">
                    <div class="price">1.90 €</div>
                    <div class="caption">
                        <h4>Coca-Cola Zero</h4>
                        <p>Au choix: Petit, Moyen ou Grand</p>
                        <a href="#" class="btn btn-order" role="button"><span class="bi-cart-fill">Commander</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="image">
                    <img src="../../assets/images/bo4.png" class="img-fluid" alt="">
                    <div class="price">1.90 €</div>
                    <div class="caption">
                        <h4>Fanta</h4>
                        <p>Au choix: Petit, Moyen ou Grand</p>
                        <a href="#" class="btn btn-order" role="button"><span class="bi-cart-fill">Commander</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="image">
                    <img src="../../assets/images/bo5.png" class="img-fluid" alt="">
                    <div class="price">1.90 €</div>
                    <div class="caption">
                        <h4>Sprite</h4>
                        <p>Au choix: Petit, Moyen ou Grand</p>
                        <a href="#" class="btn btn-order" role="button"><span class="bi-cart-fill">Commander</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="image">
                    <img src="../../assets/images/bo6.png" class="img-fluid" alt="">
                    <div class="price">1.90 €</div>
                    <div class="caption">
                        <h4>Nestea</h4>
                        <p>Au choix: Petit, Moyen ou Grand</p>
                        <a href="#" class="btn btn-order" role="button"><span class="bi-cart-fill">Commander</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>